.voice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem 1rem;
  background-color: #1e2a52;
  border-radius: 10px;
  gap: 0.5rem;
  .voice-item {
    color: #677489;
    background-color: transparent;

    &.name {
      border-right: 1px solid #364153;
      width: 80%;
      font-size: 1.5rem;
    }

    &.select {
      color: #e3e8ef;
      border: none;
      font-size: 1rem;
      background-image: url('../assets/211687_down_arrow_icon.svg');
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 20%;
      appearance: none;
      outline: none;
    }
    &.select:nth-child(2) {
      border-right: 1px solid #364153;
    }
    &.select:nth-child(3) {
      max-width: 6rem;
    }
  }
}
